<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listTitle %> !</h1>
    </div>
    
    <div class="box">


     <%   newItems.forEach(function(item){  %>
            <div class="item">
                <input type="checkbox">
                <p><%= item.name %></p>
            </div>
      <%  }); %>
           <!-- <% for (var i= 0; i< newItems.length; i++) { %>
           
               
            <% } %> -->
            
    <form action="/" method="post">
        <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
    </div>

    <%- include("footer") -%>
    

    
